@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200&display=swap');
img{
    width: 200px;
    height: 250px;
    border-radius: 100%;
    display: block;
    margin: 0 auto;
}
table {
    margin: auto;
    width: 600px;
}
h1 {
    text-align: center;
    font-family: 'Lato', sans-serif;
}
.border_b {
    border-bottom: 2px solid black;
    
}
.box_ancher  {
    text-align: center;
    padding-top:100px ;
    border-bottom: 2px solid black;
}
.ancher {
    border: 2px solid black;
    padding: 10px 50px;
    background-color: brown;
    text-decoration: none;
    color: white;
    
}
.ancher:hover{
    background-color: tomato;
    -webkit-box-shadow: -15px 16px 13px 0px rgba(73, 81, 88, 0.27);
    -moz-box-shadow: -15px 16px 13px 0px rgba(73, 81, 88, 0.27);
    box-shadow: -15px 16px 13px 0px rgba(73, 81, 88, 0.27);
}
.table_R {
    -webkit-box-shadow: -15px -19px 10px 2px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: -15px -19px 10px 2px rgba(34, 60, 80, 0.2);
    box-shadow: -15px -19px 10px 2px rgba(34, 60, 80, 0.2); 
    height: 800px;
    background-color: white;
    margin-left: 10px;
}
.table_L {
    -webkit-box-shadow: -15px -19px 10px 2px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: -15px -19px 10px 2px rgba(34, 60, 80, 0.2);
    box-shadow: -15px -19px 10px 2px rgba(34, 60, 80, 0.2);
    height: 800px;
    background-color: white;
}
li {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}
h4 {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}
body {
    background-color: rgb(206, 204, 204);
}
p {
    font-family: 'Montserrat', sans-serif;
}
